<p> Status: <%=@application.status%></p>
<p> Applicant Name: <%=@application.name%></p>
<p> Address: <%=@application.street_address%>, <%=@application.city%>, <%=@application.state%>, <%=@application.zip%></p>
<p> Description: <%=@application.description%></p>
